/*
 Document Styles
 */

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 70px;
    margin-bottom: 60px;
}

/*
 Header Styles
 */

.logo {
    width: 48px;
    height: 46px;
}

.navbar-brand .logo {
    width: 24px;
    height: 23px;
    position: relative;
    top: -2px;
    display: inline;
    margin-left: 2px;
}

.glyphicon-mtg {
    background: url('../images/mtg_glyphicon.png') no-repeat;
    width: 16px;
    height: 16px;
}

.donate-btn-container {
	margin-left: 0px;
}

.donate-btn {
	color: #8b2c93 !important;
}

@media only screen and (min-width : 768px) {
	.donate-btn {
		margin-top: 8px;
	}
}

/*
 Content Styles
 */

.banner-image {
    width: 100%;
    margin-bottom: 30px;
}

#page-games, #page-magic {
    display: none;
}

.action-button {
    margin-top: 20px;
}

.sponsors {
    text-align: center;
}
.sponsor-image {
    width: 90%;
}

#magicFormAlert {
    display: none;
}

/*
 Footer Styles
 */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding-top: 15px;
    background-color: #f5f5f5;
	font-size: 12px;
}

.logo-footer {
    width: 30px;
    height: 30px;
}

@media only screen and (max-width : 400px) {
	.logo-footer {
		display: none;
	}
}