@font-face{
	font-family: "Eight Bit Wonder";
	src: url("8-BIT WONDER.TTF") format("truetype");
}

html{
	font-family:Arial, sans-serif;
	min-width:330px;
}

#page{
	max-width:800px;
	min-width:590px;
	margin: 0 auto;
}

#header{
	font-family: Eight Bit Wonder, Arial, sans-serif;
}

#header a{
	color:#000;
	text-decoration:none;
}

#header a:hover{
	color:#333;
}

#navbar{
	border: 1px solid #000;
	border-left: 0;
	border-right: 0;
	padding: 3px 10px 5px 10px;
	margin: 5px auto;
	text-align:center;
}

a:visited{
	color:#000;
}

a:hover{
	text-decoration:none;
}

#navbar a{
	color:#000;
	font-family: Arial Black, Gadget, sans-serif;
}

#navbar a::after{
	content: "|";
	color: #000;
	display: inline-block;
	margin: auto 0 auto 4px;
}

#navbar a:last-child::after{
	content:"";
}

#content{
	width:66%;
	/*float: left;*/
	display:inline-block;
	padding-right: 3px;
	padding-left: 3px;
	border: 1px solid #ddd;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 0px;
}

#sidebar{
	width: 30%;
	display:inline-block;
	vertical-align:top;
	padding-top: 3px;
	padding-right: 6px;
}


#footer{
	font-size: 0.7em;
	text-align:center;
	color: #ddd;
	border: 1px solid #ddd;
	border-left: 0px;
	border-right: 0px;
	width:100%;
}

h1{
	font-size: 3em;
	margin: auto 0 0 auto;
}

h3{
	font-size: 1em;
	margin: auto auto 0 0;
}

p{
	line-height: 125%;
	margin-top: 5px;
}

#content h3, #sidebar h3{
	font-family: Arial Black, Gadget, sans-serif;
	margin-bottom: 0px;
}

#sidebarcontent{
	margin: auto auto auto 6%;
}

hr{
	border: 0;
	height: 1px;
	background: #000;
}

#sidebar hr{
	border: 0;
	height: 1px;
	background: #ddd;
	width:100%;
}

#sidebar img{
	width: 40%;
	display: inline-block;
	vertical-align:center;
}

#imgwrapper{
	margin:0 auto;
	text-align:center;
	display:inline-block;
	width: 100%;
}

@media only screen and (max-width: 590px) {
	h1{
		font-size: 1.7em;
	}
	
	#page{
		min-width:100%;
		max-width:100%;
	}
	
	#content, #sidebar{
		width:100%;
		float:none;
		border-style:none;
	}
	
	#content{
		border: 1px solid #ddd;
		border-top: 0;
		border-left: 0;
		border-right: 0;
	}
}

@media only screen and (max-width: 680px) {
	#csh-logo{
		display:none;
	}
}